body {
    font-family: 'Spartan', sans-serif;
    background-color: rgb(182, 181, 181);
}

.navbar {
    min-height: 5rem;
}

.py-6 {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.hero {
    background-size: cover;
    padding-top: 90px;
    min-height: 600px;
}